doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/currency-flags.css')
        link(href="https://fonts.googleapis.com/css?family=Dosis|Varela" rel="stylesheet")
    body
        block content
