body {
    font: 40px "Dosis", Helvetica, Arial, sans-serif !important;
    letter-spacing: 4px;
}

#header {
    padding: 70px;
    text-align: center;
}

a {
    color: #00B7FF;
}

.row {
    margin: 0 !important;
}

h1, h2 {
    text-align: center;
}

.dropdown-menu {
    text-align: center;
}

div.row {
    text-align: center;
}

.colored-block-np {
    width: 100%;
    color: #fff;
}

.colored-block-sm {
    width: 100%;
    padding: 100px 0px;
    color: #fff;
}

.colored-block-md {
    width: 100%;
    padding: 170px 0px;
    color: #fff;
}

.colored-block-lg {
    width: 100%;
    color: #fff;
}

input {
    font-size: 36px !important;
}

.input-lg {
    height: 70px !important;
    letter-spacing: 4px;
}

.btn-lg {
    height: 70px !important;
}

.text-center {
    text-align: center;
}

#div-loading {
    display: none;
}

#div-loading.show {
    display: block;
    position: fixed;
    z-index: 100;
    background-image: url('https://www.downgraf.com/wp-content/uploads/2014/09/01-progress.gif');
    background-color: #fff;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

#loadinggif.show {
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 101;
    width: 10px;
    height: 10px;
    margin-left: -16px;
    margin-top: -16px;
}

div.content {
    width: 1000px;
    height: 1000px;
}

section.rates {
    padding: 20px !important;
    font-size: 30px;
}

div.extra-rate {
    padding: 10px;
}

span.extra-rate.currency-flag {
    width: 40px;
    height: 26px;
}

.base-flag {
    width: 56px !important;
    height: 37px !important;
}

.chart {
    width: 850px;
    height: 500px;
}

/* colors */
.purple {
    background: #9251AC;
}

.green {
    background: #82F6D6;
}

.blue {
    background: #2E82FF;
}
